
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="card">
          <div class="col-md-12 text-center">Admin Login</div>
          <div class="card-body">
            <form [formGroup]="loginForm">
              <div class="mb-3">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">Username is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label>Password</label>
                <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
                <div *ngIf="invalidLogin" class="text-danger">Invalid username or password. Please try again.</div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
            </form>
          </div>
        </div>
      </div>
  