.carousel-item img {
    width: inherit;
}

.thumbnail a img {
    height: 180px;
    width: 160px;
    cursor: pointer;
}

.caption {
    font-weight: 600;
    padding-top: 10px;
    cursor: pointer;
}