
<div id="carouselExampleIndicators" class="carousel slide pb-2" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/1.jpg" class="img-rounded"/>
      </div>
      <div class="carousel-item">
        <img src="../assets/2.jpg" />  
      </div>
      <div class="carousel-item">
        <img src="../assets/3.jpg" />  
      </div>
      <div class="carousel-item">
        <img src="../assets/4.jpg" />  
      </div>
      <div class="carousel-item">
        <img src="../assets/5.jpg" />  
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  


<div class="row my-2 p-2 m-1" style="background: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
	<h3 class="py-2"><b>Top Deals<hr/></b></h3>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/ipad.jpg" alt="Ipad" width="120"/>
        <div class="caption">
          <p>Ipad</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/camera_bag.jpg" alt="Bag" width="120"/>
        <div class="caption">
          <p>Camera Bag</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/insta_camera.jpg" alt="Insta" width="120"/>
        <div class="caption">
          <p>Insta Camera</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/lehanga.jpg" alt="Lehanga" width="120"/>
        <div class="caption">
          <p>Lehanga</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/mirrorless_camera.jpg" alt="Camera" width="120" />
        <div class="caption">
          <p>Mirrorless Camera</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/saare.jpg" alt="Deals" width="120"/>
        <div class="caption">
          <p>Amazing Deals</p>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="row my-2 p-2 m-1" style="background: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
	<h3 class="py-2"><b>Fashion Top Deals<hr/></b></h3>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/palazzos.jpg" alt="palazzos" width="120"/>
        <div class="caption">
          <p>Palazzos</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/crocs.jpg" alt="crocs" width="120"/>
        <div class="caption">
          <p>Puma, Bata, Crocs</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/kids.jpg" alt="kids" width="120"/>
        <div class="caption">
          <p>Kids Clothing's</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/shoes.jpg" alt="shoes" width="120"/>
        <div class="caption">
          <p>Shoes</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/kurtas.jpg" alt="kurtas" width="120" />
        <div class="caption">
          <p>Kurta Sets</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/bag.jpg" alt="bag" width="120"/>
        <div class="caption">
          <p>Bags</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row my-2 p-2 m-1" style="background: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
	<h3 class="py-2"><b>Grooming, Books, Auto & more<hr/></b></h3>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/cycle.jpg" alt="cycle" width="120"/>
        <div class="caption">
          <p>Cycle</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/rideons.jpg" alt="rideons" width="120"/>
        <div class="caption">
          <p>Rideons</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/pressure.jpg" alt="pressure" width="120"/>
        <div class="caption">
          <p>Car Pressure</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/keyboard.jpg" alt="keyboard" width="120"/>
        <div class="caption">
          <p>Musical Keyboard</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/puzzle.jpg" alt="puzzle" width="120" />
        <div class="caption">
          <p>Puzzle & Cubes</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a>
        <img src="../assets/product/trademill.jpg" alt="trademill" width="120"/>
        <div class="caption">
          <p>Trademill</p>
        </div>
      </a>
    </div>
  </div>
</div>