<div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui stackable divided equal height stackable grid">
        <div class="two wide column">
          <h4 class="ui header">About</h4>
          <div class="ui link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Careers</a>
            <a href="#" class="item">Blog</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui header">Services</h4>
          <div class="ui link list">
            <a href="#" class="item">Online Shopping</a>
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">Support</a>
            <a href="#" class="item">Payment</a>
            <a href="#" class="item">Ticket</a>
          </div>
        </div>
      </div>
    </div> 
    
    
    <div class="container" align="center">
    <hr>
    	<div class="ui ordered steps">
    			<div class="step">
    			<i class="truck icon"></i>
    			<div class="content">
      			<div class="title">Shipping</div>
      			<div class="description">Choose your shipping options</div>
    			</div>
  				</div>
  			
  			
  <div class="active step">
    			<i class="payment icon"></i>
    			<div class="content">
      			<div class="title">Billing</div>
      			<div class="description">Enter billing information</div>
    			</div>
  </div>
  
  <div class="step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Confirm Order</div>
      <div class="description">Verify order details</div>
    </div>
  </div>
</div>
</div>
    
    <div class="container">
    <hr>
    <label>PAYMENT METHOD</label><br>
    <span class="column"><i class="big blue visa icon"></i></span>
    <span class="column"><i class="big blue mastercard icon"></i></span>
    <span class="column"><i class="big blue paypal card icon"></i></span> 
    </div>
    
    
    
    
    <div class="container">
    <hr>
    Policies:
    <a href="#">Terms of use</a> |
    <a href="#">Security</a> |
    <a href="#">Privacy</a> |
    <a href="#">Terms and Conditions</a> 
    <span class="pull-right">
    	KEEP IN TOUCH &nbsp;&nbsp;
    	<a href="https://www.facebook.com/kumarrahulx"><i class="small inverted circular blue facebook icon"></i></a>
    	<a href="https://twitter.com/kumarrahulx"><i class="small inverted circular twitter icon"></i></a>
    	<a href=""><i class="small inverted circular google plus icon"></i></a>
    	<a href="https://www.youtube.com/?gl=IN"><i class="small inverted circular youtube play icon"></i></a>
    	
    </span>
    <hr>
    </div>
   <div align="center">
      <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2023.All Rights Reserved by <b>Rahul Kumar</b>
      </p> 
</div>  
  </div>

